
html {
  --primary: rgb(25,25,49);
  --secondary: rgb(30,30,55);
  --error: #fc5185;
  --warning: #ff9f68;
  --info: #00d1ff;
  --success: #17b978;
  --highlight: rgb(251,55,127);
  --text-primary: #F2F2F2;
  --text-secondary: #e2e2e2;
  --text-thirdary: #d2d2d2;
  --text-disabled: #a2a2a2;

  --g-primary: linear-gradient(to right top, #191931, #004c7a, #00879c, #00c07a, #a8eb12);
  --g-secondary: linear-gradient(to right top, #191931, #442b57, #7d3974, #bd4384, #fc5185);

  --font-primary: 'Montserrat', sans-serif; 
}
