.font-primary {
  font-family: "Montserrat", sans-serif;
}

.f-weight-sm {
  font-weight: 200;
}
.f-weight-md {
  font-weight: 600;
}

.c-white {
  color: var(--white);
}

.margin-top-2 {
  margin-top: 2rem;
}
.margin-b-1 {
  margin-top: 1rem;
}
