.wrapper {
  background-color: var(--primary);
  color: var(--text-primary);
  font-family: var(--font-primary);
  min-height: 100vh;
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-rows: 6rem 1fr 10rem;
  grid-template-areas: "header" "main" "footer";
}

.c-header {
  grid-area: header;
  background: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.c-header img {
  width: 3.5rem;
  height: 4rem;
  border-radius: 50%;
}

.c-header nav a {
  color: var(--text-primary);
  text-decoration: none;
  transition: color .4s ease;
  padding-left: .5rem;
}

.c-header nav a:hover {
  color: var(--highlight);
}

.c-content {
  grid-area: main;
  display: grid;
  grid-template-rows: 1fr, repeat(3, minmax(100px, 1fr));
  grid-template-areas:
  "picture"
  "images"
  "partners"
  "contact";
}

.c-content .c-picture {
  grid-area: picture;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.c-content .c-picture img {
  max-width: 100%;
  object-fit: cover;
  max-height: 60vh;
}

/* images */
.c-images {
  grid-area: images;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
  width: 100%;
  grid-template-columns: 1fr;
}
.c-images__description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 2rem 0 0 0;
  padding: 1rem;
  color: var(--white);
}
.c-images__description h1 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-family: "Montserrat", sans-serif;
}
.c-images__cards {
  display: grid;
  padding: 3rem 1rem;
  gap: 1rem;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.c-images__card {
  background: var(--background-card);
  border-radius: 0.2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.c-images__card img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.2rem;
  height: 10rem;
  width: 13rem;
  background: var(--white);
}
.c-card__description {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.8rem, 1vw, 0.9rem);
  text-align: left;
  padding: 1rem;
  text-align: center;
  color: var(--white);
}
.c-card__description
  p {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.9rem, 1vw, 0.8rem);
  line-height: 1.4;
  margin-top: 1rem;
}

/* Parteners */
.c-partners {
  grid-area: partners;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 1rem;
  background: var(--secondary);
  width: 100%;
  grid-template-columns: 1fr;
}
.c-partners__description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 2rem 0 0 0;
  padding: 1rem;
  color: var(--white);
}
.c-partners__description h1 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-family: "Montserrat", sans-serif;
}
.c-partners__cards {
  display: grid;
  padding: 1rem 1rem;
  gap: 1rem;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.c-partners__card {
  background: var(--background-card);
  display: flex;
  padding: 3rem 1rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.c-partners__card img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.2rem;
  height: 10rem;
  border-radius: 50%;
  width: 10rem;
  background: var(--white);
}
.c-card__description {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.7rem, 1vw, 0.8rem);
  text-align: left;
  padding: 1rem;
  text-align: center;
  color: var(--white);
}
.c-card__description
  p {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.9rem, 1vw, 0.8rem);
  line-height: 1.4;
  margin-top: 1rem;
}
.c-images__card--border {
  border: 3px solid var(--success);
}

/* contact */
.c-contact {
  grid-area: contact;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding: 5rem 0;
}

.c-contact img {
  width: 100%;
  max-width: 100%;
}

.c-contact form {
  grid-row: 1 / 4;
  height: 100%;
  display: flex;
}
.c-contact form fieldset {
  display: flex;
  flex-flow: column;
  width: 100%;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}
.c-contact form label {
  font-size: 1.2rem;
}
.c-contact form input {
  border: 0;
  padding: 1rem;
  background-color: var(--text-thirdary);
  outline: none;
  font-weight: 600;
  font-size: 1rem;
  margin: 1rem 0;
}

.c-contact__radio label {
  padding-right: 1rem;
}

.c-contact__radio input {
  margin: 1rem;
}

.c-contact__city {
  padding: 1rem 0 3rem 0;
}

.c-contact__button {
  margin: 1rem 0 0 0;
}
.c-contact__button button {
  padding: .5rem 2rem;
  background: var(--highlight);
  outline: none;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 8px;
}

.c-contact__button button:first-child {
  margin-right: 2rem;
}

.c-contact__city h3 {
  font-weight: 500;
  font-size: 1.2rem;
}
.c-contact__city select {
  font-size: 1rem;
  margin-top: 1rem;
  padding: .5rem;
}

.c-footer {
  grid-area: footer;
  height: 10rem;
  background: var(--secondary);
}

.c-footer {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-flow: column;
}

.c-footer h3 {
  padding: 1rem 0;
}

.c-footer nav li {
  list-style: none;
  padding: 0 1rem 1rem 1rem;
}
.c-footer nav  {
  display: flex;
}
.c-footer hr {
  display: block;
  width: 80%;
}
.c-footer__links {
  padding: 1rem 0 0 0;
}
.c-footer__links a {
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  padding-left: 1rem;
  transition: color .4s ease;
}
.c-footer__links a:hover {
  color: var(--highlight);
}
